In [2]:
import pandas as pd
import numpy as np

In [25]:
data1 = {'group':['test1','train6','test2','train7','test3'],
        #'group2':['test10','train5','test6','train11','test7'],
        'svd':np.random.uniform(0,10,5).tolist(),
        'evc':np.random.uniform(0,10,5).tolist()}
data1

{'evc': [8.40869233866716,
  9.244981940586152,
  4.0985708978026345,
  4.2811674404889635,
  0.8279760568696604],
 'group': ['test1', 'train6', 'test2', 'train7', 'test3'],
 'svd': [0.6514441330066267,
  7.5657623754698475,
  2.278599371485023,
  9.45074050589628,
  8.124956615987264]}

In [26]:
data2 = {'group':['train8','test4','train9','test5', 'train10'],
        'svd':np.random.uniform(0,10,5).tolist(),
        'evc':np.random.uniform(0,10,5).tolist()}
data2

{'evc': [0.19339514579827966,
  7.888362189076781,
  6.89969611770144,
  8.237055375895403,
  4.0463421636751935],
 'group': ['train8', 'test4', 'train9', 'test5', 'train10'],
 'svd': [8.904268055841722,
  2.3066332112382737,
  7.894165287979288,
  5.830232428356581,
  8.38148787336355]}

In [27]:
df1 = pd.DataFrame(data1, columns=['group','svd','evc'])
df1

    group       svd       evc
0   test1  0.651444  8.408692
1  train6  7.565762  9.244982
2   test2  2.278599  4.098571
3  train7  9.450741  4.281167
4   test3  8.124957  0.827976

In [28]:
df2 = pd.DataFrame(data2, columns=['group','svd','evc'])
df2

     group       svd       evc
0   train8  8.904268  0.193395
1    test4  2.306633  7.888362
2   train9  7.894165  6.899696
3    test5  5.830232  8.237055
4  train10  8.381488  4.046342

In [29]:
df1.replace('test','train1', regex=True, inplace=True)
df2.replace('train','test1', regex=True, inplace=True)

In [30]:
df1

     group       svd       evc
0  train11  0.651444  8.408692
1   train6  7.565762  9.244982
2  train12  2.278599  4.098571
3   train7  9.450741  4.281167
4  train13  8.124957  0.827976

In [31]:
df2

     group       svd       evc
0   test18  8.904268  0.193395
1    test4  2.306633  7.888362
2   test19  7.894165  6.899696
3    test5  5.830232  8.237055
4  test110  8.381488  4.046342

In [32]:
df = df1.append(df2)
df

     group       svd       evc
0  train11  0.651444  8.408692
1   train6  7.565762  9.244982
2  train12  2.278599  4.098571
3   train7  9.450741  4.281167
4  train13  8.124957  0.827976
0   test18  8.904268  0.193395
1    test4  2.306633  7.888362
2   test19  7.894165  6.899696
3    test5  5.830232  8.237055
4  test110  8.381488  4.046342

In [34]:
df[df['group'].str.contains("train")]

     group       svd       evc
0  train11  0.651444  8.408692
1   train6  7.565762  9.244982
2  train12  2.278599  4.098571
3   train7  9.450741  4.281167
4  train13  8.124957  0.827976

In [23]:
df.shape

(10, 3)

In [24]:
df

     group       svd       evc
0   test11  0.748191  4.692376
1    test6  1.594136  2.939828
2   test12  2.568794  7.791322
3    test7  8.752117  4.136545
4   test13  6.680392  5.086551
0   test18  7.723534  6.552723
1    test4  2.673423  0.404621
2   test19  0.339915  3.491163
3    test5  7.455976  5.023388
4  test110  7.160990  0.021421

In [11]:
mo = pd.read_csv('masterOutput.csv', index_col=0)
mo

,groupId,files,timeRun,perPos,perNeg,perPosDoc,perNegDoc,judgementCount,judgementFrac,avgSD,avgEVC
0,Rabbinic_test04,1,1.372558,0.016289,0.016289,0.0,1.0,12.000000,0.187500,NaN,0.644278
1,Rabbinic_train06,1,1.271175,0.036082,0.036082,0.0,1.0,24.000000,0.358209,NaN,0.686979
2,NaumanKhan_train00,1,2.737447,0.028998,0.028998,0.0,1.0,37.000000,0.105413,0.745575,0.801251
3,Rabbinic_train09,1,1.259793,0.015854,0.015854,0.0,1.0,15.000000,0.180723,NaN,0.476694
4,NaumanKhan_train01,1,2.216873,0.026152,0.026152,0.0,1.0,37.000000,0.266187,NaN,0.781618
5,Rabbinic_train00,1,1.328951,0.026549,0.026549,0.0,1.0,22.000000,0.323529,NaN,0.577280
6,Rabbinic_train11,1,1.437911,0.030083,0.030083,0.0,1.0,17.000000,0.200000,0.713544,0.587283
7,NaumanKhan_train03,1,2.969007,0.045699,0.045699,0.0,1.0,45.000000,0.104895,0.737506,0.604842
8,NaumanKhan_train04,3,10.255893,0.041586,0.041586,0.0,1.0,44.666667,0.099022,0.633314,0.734824
9,NawDawg_train100,2,0.405190,0.025212,0.025212,0.0,1.0,2.000000,0.148352,NaN,0.729830
10,Rabbinic_train08,1,0.986815,0.038106,0.038106,0.0,1.0,16.000000,0.197531,NaN,0.396489

In [6]:
4+5

9

In [7]:
squares_list = [1,4,9,16,25]

In [8]:
squares_list

[1, 4, 9, 16, 25]

In [9]:
Squares_list

NameError: name 'Squares_list' is not defined

In [10]:
squares_list * 5

[1,
 4,
 9,
 16,
 25,
 1,
 4,
 9,
 16,
 25,
 1,
 4,
 9,
 16,
 25,
 1,
 4,
 9,
 16,
 25,
 1,
 4,
 9,
 16,
 25]

In [11]:
squares_list[2:4
            ]

[9, 16]

In [12]:
squares_list[4
            ]

25

In [13]:
squares_list[2:5]

[9, 16, 25]

In [14]:
squares_list[5
            ]

IndexError: list index out of range

In [15]:
hi = 'hello'

In [16]:
hi

'hello'

In [17]:
hi[1
  
  ]

'e'

In [18]:
hi[0]

'h'

In [19]:
hi[0:2]

'he'

In [20]:
hi[0:3]

'hel'

In [21]:
len(hi)

5

In [22]:
hi[2:len(hi)]

'llo'

In [23]:
hi[2:5]

'llo'

In [24]:
hi[4]

'o'

In [25]:
print hi[2:5]

SyntaxError: Missing parentheses in call to 'print' (<ipython-input-25-bd9dded9aab9>, line 1)

In [26]:
print hi

SyntaxError: Missing parentheses in call to 'print' (<ipython-input-26-6b17e9f06229>, line 1)

In [27]:
hi

'hello'

In [28]:
print "hi"

SyntaxError: Missing parentheses in call to 'print' (<ipython-input-28-cf66817c8381>, line 1)

In [29]:
print(hi
     )

hello

In [30]:
print(hi + " word")

hello word

In [31]:
raw = r'/n is a newline char'

In [32]:
raw

'/n is a newline char'

In [33]:
naw = '/n is a newline char'

In [34]:
naw

'/n is a newline char'

In [35]:
raw = r'\n is a newline char'

In [36]:
raw

'\\n is a newline char'

In [37]:
raww = r'\n is a newline char'

In [38]:
raww

'\\n is a newline char'

In [39]:
raw.replace("a", "x
            ")

SyntaxError: EOL while scanning string literal (<ipython-input-39-1c472564cc81>, line 1)

In [40]:
b = raw.replace("a", "x
            ")

SyntaxError: EOL while scanning string literal (<ipython-input-40-a54c83b18397>, line 1)

In [41]:
naw

'/n is a newline char'

In [42]:
naw = '\n is a newline char'

In [43]:
naw

'\n is a newline char'

In [44]:
naw[5] = "u"

TypeError: 'str' object does not support item assignment

In [45]:
naw.upper()

'\n IS A NEWLINE CHAR'

In [46]:
raww.upper()

'\\N IS A NEWLINE CHAR'

In [47]:
naw

'\n is a newline char'

In [48]:
naw.strip('a')

'\n is a newline char'

In [49]:
tuple_sq = 1,4,9,16,25

In [50]:
tuple_sq

(1, 4, 9, 16, 25)

In [51]:
tuple_sq[3]

16

In [52]:
zips = {'ivy':22903, 'cville':22902, 'earlysville':22901}

In [53]:
zips

{'cville': 22902, 'earlysville': 22901, 'ivy': 22903}

In [54]:
zips['cville']

22902

In [55]:
zips.keys()

dict_keys(['ivy', 'earlysville', 'cville'])

In [56]:
for i in zips.keys():
    print(i)

ivy
earlysville
cville

In [57]:
for i in zips:
    print(i)

ivy
earlysville
cville

In [58]:
zips[2]

KeyError: 2

In [59]:
for i in zips:
    print(zips[i])

22903
22901
22902

In [60]:
for i in zips:
    print(i + zips[i])

TypeError: Can't convert 'int' object to str implicitly

In [61]:
for i in zips:
    print(i)
    print(zips[i])

ivy
22903
earlysville
22901
cville
22902

In [62]:
for i in zips:
    print(i zips[i])

SyntaxError: invalid syntax (<ipython-input-62-cfdbe8200f32>, line 2)

In [63]:
for i in zips:
    print(i, zips[i])

ivy 22903
earlysville 22901
cville 22902

In [64]:
for i in zips:
    print(i, ": ", zips[i])

ivy :  22903
earlysville :  22901
cville :  22902

In [65]:
for i in zips:
    print(i, ": ", zips[i], sep="")

ivy: 22903
earlysville: 22901
cville: 22902

In [66]:
for i in zips:
    print(i, ": ", zips[i], sep="------")

ivy------: ------22903
earlysville------: ------22901
cville------: ------22902

In [67]:
range(1,N+1)

NameError: name 'N' is not defined

In [68]:
fact=1
for i in range(1,N+1):
  fact *= i

NameError: name 'N' is not defined

In [69]:
N = 5

In [70]:
fact=1
for i in range(1,N+1):
  fact *= i

In [71]:
fact

120

In [72]:
range(1,N+1
     )

range(1, 6)

In [73]:
math.factorial(N)

NameError: name 'math' is not defined

In [74]:
N%2

1

In [75]:
N

5

In [76]:
math.factorial(N)

NameError: name 'math' is not defined

In [77]:
import math

In [78]:
factorial(N)

NameError: name 'factorial' is not defined

In [79]:
math.factorial(N)

120

In [80]:
N

5

In [81]:
import math as m

In [82]:
m.factorial(N)

120